// libs
@use '/src/sass/libs/modern-normalize.min.css';
@use '/src/sass/libs/icons_font.css';
@use '/src/sass/libs/grids-min.css';
@use '/src/sass/libs/grids-responsive-min.css';

// base
@use '/src/sass/base/variables.scss';

// ui

// blocks
@use '/src/sass/blocks/header.scss';