@use "/src/sass/base/variables.scss" as *;

.header {
	&__top {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		img {
			width: 100px;
			height: 100px;
		}
	}

	&__buttons {
		display: flex;
		column-gap: 15px;
		button {
			padding: 0;
			width: 20px;
			height: 20px;
			background-color: transparent;
			border: none;
		}

		span {
			font-size: 20px;
		}
	}

	&__menu {
		padding: 50px 10px 0 10px;
		position: fixed;
		top: 0;
		left: -100vw;
		width: 100%;
		height: 100vh;
		background-color: $light;
		transition: transform 0.3s ease-in-out;

		&-close {
			width: 19px;
			height: 19px;

			span {
				display: block;
				width: 20px;
				height: 1px;
				background-color: $dark;

				&:nth-child(1) {
					transform: translateY(9px) rotate(45deg);
				}

				&:nth-child(2) {
					transform: translateY(8px) rotate(-45deg);
				}
			}
		}

		&-nav {
            margin: 50px 0 0 14px;
			ul {
                list-style: none;
                display: flex;
                flex-direction: column;
                row-gap: 25px;
				margin: 0;
				padding: 0;
			}
		}

		&-link {
			color: $dark;
			font-size: 20px;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase;
            text-decoration: none;
		}
	}

	&__menu_active {
		transform: translateX(100%);
	}
}

.burger {
	display: flex;
	row-gap: 10px;
	flex-direction: column;
	width: 55px;

	span {
		display: block;
		width: 20px;
		height: 1px;
		background-color: $dark;
	}
}
