@use "/src/sass/base/variables.scss" as *;

.promo {
	position: relative;
	padding-top: 50px;

	&__card {
		display: none;
	}

	&__title {
		margin: 50px auto 0 auto;
		max-width: 330px;
		color: $dark;
		text-align: center;
		font-size: 24px;
		font-style: italic;
		font-weight: 400;
		line-height: normal;
		text-transform: uppercase;
	}

	&__img {
		margin: 45px auto 0 auto;
		width: 270px;
		object-fit: cover;
		box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
	}

	&__button {
		margin: 18px auto 0 auto;
		min-width: 230px;
		min-height: 50px;
	}
}

@media screen and (min-width: 768px) {
	.promo {
		&__wrapper {
			padding-top: 50px;
			display: flex;
			justify-content: space-between;
		}

		&__title {
			margin: 250px 0 0 71px;
			text-align: start;
		}

		&__img {
			margin: 0;
			max-width: 230px;
		}
	}
}

@media screen and (min-width: 1200px) {
	.promo {
		&__card {
			display: block;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
			width: clamp(450px, 35vw, 640px);
		}

		&__wrapper {
			justify-content: flex-end;
		}

		&__title {
			margin: 250px 10px 0 0;
		}
	}
}
